---
title: Onuska Family, Cousins' Perspective
---

<article class="sitepress">
  <h1><%= current_page.data.fetch("title") %></h1>

  <%= link_to "Back to pace.family", root_path %>
  <br />
  <br />
  <br />

  <wa-card style="max-width: 70ch; margin: auto">
    <h3 class="wa-heading-m">Onuska</h3>
    <div class="wa-stack">
      <wa-details>
        <span class="wa-heading-m" slot="summary">Michael</span>
        <div class="wa-stack">
          <article class="wa-flank">
            <i class="fa-solid fa-people fa-xl" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">Cousins</span>
                <div class="wa-cluster wa-gap-2xs">
                  <span><%= link_to "Michael", "https://www.linkedin.com/in/michael-onuska-273bb513/" %> and Melissa</span>
                  <br />
                </div>
              </div>
              <wa-format-date date="2025-02-28" month="short" day="numeric" class="wa-caption-m"></wa-format-date>
            </div>
          </article>
          <wa-divider></wa-divider>
          <article class="wa-flank">
            <i class="fa-solid fa-children fa-sm" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">Children</span>
                <div class="wa-cluster wa-gap-2xs">
                  <span>Brooke, Brayden, and Brielle</span>
                  <br />
                </div>
              </div>
              <wa-format-date date="2025-02-28" month="short" day="numeric" class="wa-caption-m"></wa-format-date>
            </div>
          </article>
          <wa-divider></wa-divider>
          <article class="wa-flank">
            <i class="fa-regular fa-newspaper fa-xl" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">News</span>
                <span>Living in Watchung, NJ. Co-owns <%= link_to "Sunburst Gymnastics", "https://www.sunburstnj.com/" %></span>
              </div>
              <wa-format-date date="2025-02-23" month="short" day="numeric" class="wa-caption-m"></wa-format-date>
            </div>
          </article>
        </div>
      </wa-details>
      <wa-details>
        <span class="wa-heading-m" slot="summary">Christopher</span>
        <div class="wa-stack">
          <article class="wa-flank">
            <i class="fa-solid fa-people fa-xl" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">Cousins</span>
                <div class="wa-cluster wa-gap-2xs">
                  <span><%= link_to "Christopher", "https://www.linkedin.com/in/chris-onuska-81513157/" %> and Rebecca</span>
                  <br />
                </div>
              </div>
              <wa-format-date date="2025-02-28" month="short" day="numeric" class="wa-caption-m"></wa-format-date>
            </div>
          </article>
          <wa-divider></wa-divider>
          <article class="wa-flank">
            <i class="fa-solid fa-children fa-sm" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">Children</span>
                <div class="wa-cluster wa-gap-2xs">
                  <span>Anyone know?</span>
                  <br />
                </div>
              </div>
              <wa-format-date date="2025-02-28" month="short" day="numeric" class="wa-caption-m"></wa-format-date>
            </div>
          </article>
          <wa-divider></wa-divider>
          <article class="wa-flank">
            <i class="fa-regular fa-newspaper fa-xl" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">News</span>
                <span>Living in Spotswood, NJ. Co-owns <%= link_to "Sunburst Gymnastics", "https://www.sunburstnj.com/" %></span>
              </div>
              <wa-format-date date="2025-02-23" month="short" day="numeric" class="wa-caption-m"></wa-format-date>
            </div>
          </article>
        </div>
      </wa-details>
      <wa-details>
        <span class="wa-heading-m" slot="summary">Jennifer</span>
        <div class="wa-stack">
          <article class="wa-flank">
            <i class="fa-solid fa-people fa-xl" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">Cousins</span>
                <div class="wa-cluster wa-gap-2xs">
                  <span><%= link_to "Jenn", "https://www.facebook.com/jenn.busch.31" %> and used to be Paul, now xxx</span>
                  <br />
                </div>
              </div>
              <wa-format-date date="2025-02-28" month="short" day="numeric" class="wa-caption-m"></wa-format-date>
            </div>
          </article>
          <wa-divider></wa-divider>
          <article class="wa-flank">
            <i class="fa-solid fa-children fa-sm" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">Children</span>
                <div class="wa-cluster wa-gap-2xs">
                  <span>Anyone know?</span>
                  <br />
                </div>
              </div>
              <wa-format-date date="2025-02-28" month="short" day="numeric" class="wa-caption-m"></wa-format-date>
            </div>
          </article>
          <wa-divider></wa-divider>
          <article class="wa-flank">
            <i class="fa-regular fa-newspaper fa-xl" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">News</span>
                <span>Living on a farm...or was living on a farm?</span>
              </div>
              <wa-format-date date="2025-02-23" month="short" day="numeric" class="wa-caption-m"></wa-format-date>
            </div>
          </article>
        </div>
      </wa-details>
    </div>
  </wa-card>
</article>
