---
title: Onuska Family, Cousins' Perspective
public: true
---

<article class="sitepress">
  <!-- <h1 style="text-align: center;"><%= current_page.data.fetch("title") %></h1> -->

  <div style="text-align: center;">
    <%= image_tag "onuska_bunch.png" %>
  </div>

  <br />
  <br />

  <div style="text-align: center;">
    <div class="wa-grid" style="display: inline-grid; grid-template-columns: repeat(3, 200px); grid-template-rows: repeat(3, 200px); gap: 10px; background-color: black; padding: 2px; margin: 0 auto;">
        <wa-card appearance="filled" style="height: 200px; width: 200px; background-color: var(--wa-color-blue-70); border-radius: 0;">
          <%= image_tag "aunt_mary_anne.png", style: "object-fit: cover;", alt: "Aunt Mary Anne" %>
        </wa-card>
        <wa-card appearance="filled" style="height: 200px; width: 200px; background-color: var(--wa-color-blue-70); border-radius: 0;"></wa-card>
        <wa-card appearance="filled" style="height: 200px; width: 200px; background-color: var(--wa-color-blue-70); border-radius: 0;"></wa-card>
        <wa-card appearance="filled" style="height: 200px; width: 200px; background-color: var(--wa-color-blue-70); border-radius: 0;"></wa-card>
        <wa-card appearance="filled" style="height: 200px; width: 200px; background-color: var(--wa-color-blue-70); border-radius: 0;"></wa-card>
        <wa-card appearance="filled" style="height: 200px; width: 200px; background-color: var(--wa-color-blue-70); border-radius: 0;">
          <%= image_tag "grandpa_onuska.png", style: "object-fit: cover;", alt: "Aunt Mary Anne" %>
        </wa-card>
        <wa-card appearance="filled" style="height: 200px; width: 200px; background-color: var(--wa-color-blue-70); border-radius: 0;"></wa-card>
        <wa-card appearance="filled" style="height: 200px; width: 200px; background-color: var(--wa-color-blue-70); border-radius: 0;"></wa-card>
        <wa-card appearance="filled" style="height: 200px; width: 200px; background-color: var(--wa-color-blue-70); border-radius: 0;"></wa-card>
    </div>
  </div>

  <% CousinPage.all.group_by(&:family).each do |family, cousins| %>
    <wa-card style="max-width: 70ch; margin: auto">
      <h3 class="wa-heading-m"><%= family %></h3>
      <div class="wa-stack">
        <% cousins.each do |cousin| %>
          <%= cousin.first_name %>
          <%= tag.br %>
          <%= render "shared/cousin", cousin: cousin %>
        <% end %>
      </div>
    </wa-card>
  <% end %>

</article>
