      <wa-details>
        <span class="wa-heading-m" slot="summary"><%= cousin.data["first_name"] %></span>
        <div class="wa-stack">
          <article class="wa-flank">
            <i class="fa-solid fa-people fa-xl" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">Cousins</span>
                <div class="wa-cluster wa-gap-2xs">
                  <span><%= link_to cousin.data["first_name"], cousin.data["url"] %> and <%= cousin.data["spouse"] %></span>
                  <br />
                </div>
              </div>
            </div>
          </article>
          <wa-divider></wa-divider>
          <article class="wa-flank">
            <i class="fa-solid fa-children fa-sm" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">Children</span>
                <div class="wa-cluster wa-gap-2xs">
                  <span><%= cousin.data["children"] %></span>
                  <br />
                </div>
              </div>
            </div>
          </article>
          <wa-divider></wa-divider>
          <article class="wa-flank">
            <i class="fa-regular fa-newspaper fa-xl" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">News</span>
                <span><%= cousin.data["news_brief"] %></span>
                <a href="<%= cousin.request_path %>">More news...</a>
              </div>
            </div>
          </article>
        </div>
      </wa-details>

