<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pace Family" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Adding web awesome and font awesome %>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/styles/webawesome.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/webawesome.loader.js"></script>
    <script src="https://kit.fontawesome.com/dc8a27351f.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <wa-page>

      <header slot="header">
        <div class="wa-split">
          <%= link_to root_path do %>
            <div class="wa-cluster">
              <i class="fa-solid fa-family fa-bounce fa-2xl" style="color: var(--wa-color-blue-40);"></i>
              <span class="wa-body-xl">pace.family</span>
            </div>
          <% end %>

          <div class="wa-cluster">
            <%# link_to "Hello, #{Current.user.nickname}", edit_user_path if authenticated? %>
            <%= link_to "Login", new_session_path unless authenticated? %>
            <%= link_to "Log out", session_path, data: { turbo_method: :delete } if authenticated? %>
          </div>
        </div>

        <style>
          .placeholder {
            min-block-size: 300px;
            background-color: var(--wa-color-neutral-fill-quiet);
            border: dashed var(--wa-border-width-s) var(--wa-color-neutral-border-normal);
            border-radius: var(--wa-border-radius-l);
          }
        </style>

      </header>

      <nav slot="navigation">
        <%= link_to "calendar" do %>
          <span class="wa-body-m">Calendar</span>
          <i class="fa-solid fa-lock"></i>
        <% end %>
        <%= link_to "vacation" do %>
          <span class="wa-body-m">Vacation</span>
          <i class="fa-solid fa-lock"></i>
        <% end %>
        <%= link_to "onuska.family", "onuska" %>
      </nav>

      <main>

        <%= yield %>

      </main>

      <footer slot="footer">

      </footer>

    </wa-page>
 
 
  </body>
</html>

